@charset "utf-8";

@import url(./reset.css);

.container {
    width: min(100% - 30px, 1080px);
    margin-inline: auto;
}

/* --------------------Map style------------------------ */
/* ----------------------------------------------------- */
 
/* .map-box {
    height: 100vw;
    width: 100vw;
} */
 
.map-box .container {
    display: flex;
    flex-direction: column;
}
 
.map {
    width: 100vw;
    height: 100vh;
    background-color: #f6f7fa;
}

.map-info {
    position: relative;
    top: 50%;
    left: 25%;
    right: 25%;
    width: 50%;
}

.map-info p {
    font-size: 20px;
    font-weight: 400;
}
 
.mapboxgl-ctrl-top-left, .mapboxgl-ctrl, .mapboxgl-ctrl-bottom-right {
    visibility: hidden !important;
}